.mySection{
    border: 3px solid cyan;
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
    
}

.myNav{
    width: 50%;
    margin-left: 35%;
}

.myBtn{
    background-color: brown;
    margin: 20px;
    height: 30px;
    border: 2px solid blue;
    box-shadow: 3px 3px 5px gray;
    border-radius: 5px;
}

.myBtn:hover{
    background-color: yellow;
    transition-duration: 5ms;
    border: 3px solid greenyellow;
}

.myHead{
    border: 3px solid tomato;
    text-align: center;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkcyan;
    margin-left: 50px;
    margin-right: 50px;

}

footer{
    background-color: bisque;
    border: 3px solid cyan;
    border-radius: 8px;
    position:fixed;
    bottom:0;
    padding: 10px;
    width: 99%;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
    
    
}

.Search{
    position: absolute;
    top:60px;
    left: 75%;
}